.titleactivityGraph {
  position: absolute;
  top: 15px;
  left: 24px;
  font-size: 15px;
  font-weight: 500;
}
.legend {
  list-style: none;
  position: absolute;
  display: flex;
  right: 0;
  width: 53%;
  top: 15px;
  align-items: center;
  & .legendCalories {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: flex-end;
    gap: 8px;
  }
  & .legendCalories:before {
    content: "";
    aspect-ratio: 1/1;
    height: 10px;
    background-color: red;
    border-radius: 50%;
  }
  & .legendPoids {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: flex-end;
    gap: 8px;
  }
  & .legendPoids:before {
    content: "";
    aspect-ratio: 1/1;
    height: 10px;
    background-color: black;
    border-radius: 50%;
  }
}
@media (width< 768px) {
  .legend {
    left: 25px;
    top: 40px;
    align-items: flex-start;
    width: auto;
    & .legendCalories,
    .legendPoids {
      justify-content: flex-start;
    }
    & .legendPoids {
      width: 40%;
    }
  }
}
