.custom-tooltip {
  background-color: red;
  color: white;
  width: 55px;
  height: 65px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-weight: 500;
}
